* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: Oswald;
}

/*HEADER WORK*/

header {
  display: block;
  position: relative;
  height: 523px;
  width: 100%;
  /*background: url("http://www.placecage.com/200/300");*/
  background: blue;

  content: '';
  clear: both;

}
.logo {
  position: relative;
  display: inline-block;
  margin: 10px 0 0 141px;
  width: 400px;
}
.logo img {
  display: inline-block;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.logo p {
  position: absolute;
  display: inline-block;
  padding-left: 12.5px;

  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 15.8px;
  top: -5px;
}
.infobar {
  display: inline-block;
  width: 320px;
  margin-top: 18px;
  float: right;
  background-color: gray;
  font-size: 18px;
}
.infobar a {
  color: black;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}
.infobar form {
  display: inline-block;
}
.search {
  display: inline-block;
  width: auto;
}
.searchbar {
  display: inline-block;
  width: 40px;
  height: 22px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 16px;
  padding-bottom: 4px;
}
.search-icon {
  font-size: 10px;
  display: inline-block;
  width: 14px;
}
h1 {
  padding-top: 82px;

  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 102px;
  text-align: center;
  font-weight: 200;
  letter-spacing: -2.6px;
  line-height: 1;
  margin-bottom: 0;
}
h5 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 15px;
  margin-top: 0px;
}

/*BODY WORK */

main {
  display: block;
  /*height: 400px;*/
  width: 980px;
  margin: auto;
  margin-top: 20px;
  background-color: tan;
}
.essay {
  display: inline-block;
  width: 620px;
  margin: 0 0 12px 0;
  padding-top: 38px;
  background-color: purple;
}
.publish-info {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin: 0;
  background: yellow;
}
.publish-info a {
  display: inline-block;
  font-size: 12.5px;
  color: grey;
  text-decoration: none;
  margin: 10px 2px 20px 2px;
}
.author {
  display: inline-block;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin: 3px 3px 5px 7px;
  vertical-align: middle;
}
.publish-info span {
  padding-left: 10px;
}
.publish-date {
  display: inline-block;
  margin: 0;
  text-decoration: underline;
}
h2 {
  margin-top: 6px;
  margin-left: 4px;
  margin-bottom: 0px;
  margin-right: 0px;
  font-size: 64px;
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: -.005em;
}
.essay h2:first-line {
  letter-spacing: -.013em;
}
.main-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1.625em;
  padding-left: 2px;
  padding-bottom: 8px;
  letter-spacing: -.05em;
}
.main-text-link {

}
.quotation {
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  letter-spacing: -.026em;
  color: grey;
  line-height: 2;
  padding-left: 18px;
  border-left: 2px solid blue;
  margin-left: 10px;
  margin-bottom: 25px;
}
.essay .final-p {
  padding-bottom: 6px;
  margin-bottom: 0px;
}
.social-buttons {
  display: block;
  width: 100%;
  background: pink;
  padding-left: 6px;
}
ul button {
  display: inline-block;

  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 400;
  color: white;

  border: 0;
  box-shadow: 0;
  padding: 0;
  background: gray;
  margin-right: 7px;
  margin-top: 0px;
}
ul label {
  display: inline-block;
  padding: 0px 12px 6px 12px;
}
ul .button-art {
  font-size: 18px;
  display: inline-block;
  width: 33px;
  background: blue;
  padding: 5px 7px 7px 7px;
}
.sidebar {
  display: block;
  width: 360px;
  float: right;
  padding-left: 80px;
}
.sidebar a {
  text-decoration: none;
}
.sidebar .author{
  display: block;
  margin: auto;
  margin-top: 62px;
  height: 84px;
  width: 84px;
}
.sidebar p {
  font-family: 'Open Sans', 'sans-serif';
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  margin-top: 12px;
  margin-left: 2px;
  margin-bottom: 0px;
}
.author-social {
  margin: 0 auto;
}
.author-social a {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 13px;
  vertical-align: top;
  margin: 0 auto;
  padding: 0 6px 0 6px;
}
.advertisement {
  display: block;
  width: auto;

}
.advertisement img {
  margin-top: 44px;
  margin-bottom: 0px;
  height: 300px;
  width: 100%;
}
.advertisement p {
  font-size: 13px;
  text-decoration: underline;
  margin: 3px 1px 0px 3px;
  display: inline-block;
  float: right;
}
h6 {
  padding-left: 1px;
  padding-top: 24px;
  margin-bottom: 0;
  font-size: 18px;
}
.sidebar .sidebar-p {
  margin: 4px 2px 0px 2px;
  text-align: left;
  font-size: 13.5px;
  line-height: 1.8em;
}
.sidebar .sidebar-p a {
  text-decoration: underline;
}
/*FOOTER WORK */

footer {
  display: block;
  border-top: 1px solid gray;
  margin-top: 40px;
}
footer h2 {
  margin-top: 34px;
  margin-bottom: 40px;
  text-align: center;
}
.article-links {
  display: block;
}
.next-article {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;

  width: 25%;
  height: 25.5vw;
  max-width: 400px;

  float: left;
}
.next-article p {
  display: inline-block;
  position: absolute;
  font-size: 30px;
  width: 78%;
  margin: 0px 0px 13px 16px;
  bottom: 0px;
  line-height: 1.2em;
}
.art1 {
  background: url("https://cdn.pastemagazine.com/www/blogs/awesome_of_the_day/timheidecker.png");
}
.art2 {
  background: url("https://pbs.twimg.com/profile_images/378800000741429410/bfbee8629dea568a18943ac3f4cb8ede_400x400.jpeg");
}
.art3 {
  background: url("http://65.media.tumblr.com/103e40148f5b1cc1b23fe61077489d18/tumblr_inline_nsom1sO2Mf1qa87yl_500.jpg");
}
.art4 {
  background: url("https://caltventertainment.files.wordpress.com/2014/04/tumblr_kx7028huko1qafdxeo1_500.gif");
}
.foot-nav {
  display: block;
  margin: 0;
  width: 100%;
  padding-bottom: 5px;
  background: tan;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 13.3px;
}
.copyright {
  display: inline-block;
  margin-left: 150px;
  margin-top: 14px;
  background: white;
}
.copyright img {
  width: 70px;
  vertical-align: middle;
}
.foot-nav ol {
  display: inline-block;
  float: right;
  margin-right: 12%;
  margin-top: 37px;
}
.foot-nav a {
  text-align: center;
  text-decoration: none;
  border-right: 1px solid gray;
  padding: 0px 6px 0px 6px;
}
.foot-nav .final-nav
{
  border-right: 0px;
}
