* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: Oswald;
}

/*HEADER WORK*/

header {
  display: block;
  position: relative;
  height: 523px;
  width: 100%;
  margin: 0 auto;
  background-image: url("http://a.espncdn.com/photo/2014/0503/as_surf_rothman_mckenna_2048.jpg");
  /*background-color: #21B8D9;*/
  background-color: SteelBlue;
  background-blend-mode: multiply;

  content: '';
  clear: both;

  max-width: 1380px;

}
.logo {
  position: relative;
  display: inline-block;
  margin: 10px 0 0 141px;
  width: 400px;
}
.logo img {
  display: inline-block;
  height: 51px;
  width: 51px;
  /*border-radius: 50%;*/
  padding-bottom: 6px;
}
.logo p {
  position: absolute;
  display: inline-block;
  padding-left: 7px;

  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #093A5B;
  font-size: 17px;
  letter-spacing: -.045em;
  top: -7px;
}
.infobar {
  display: inline-block;
  width: 320px;
  margin-top: 18px;
  float: right;
  color: #093A5B;
  font-size: 18px;
}
.infobar a {
  color: #093A5B;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}
.infobar form {
  display: inline-block;
}

form #search {
  display: inline-block;
  width: 10px;
  height: 24px;
  color: #093A5B;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 14px;
  padding-top: 6px;
  border: none;
  background: none;
  vertical-align: top;
}
form #search:focus {
  border: 1px solid black;
  background: 255 255 255 .5;
}
form .search-icon {
  font-size: 14px;
  color: #093A5B;
  display: inline-block;
  width: 16px;
  vertical-align: middle;
  padding-bottom: 6px;
}
#search input {
  display: inline-block;
  vertical-align: middle;
}
h1 {
  padding-top: 76px;

  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 102px;
  text-align: center;
  font-weight: 200;
  letter-spacing: -2.6px;
  line-height: 1;
  margin-bottom: 0;
}
h5 {
  color: #093A5B;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 15px;
  margin-top: 0px;
}

/*BODY WORK */

main {
  display: block;
  /*height: 400px;*/
  width: 980px;
  margin: auto;
  margin-top: 20px;
  background: white;

  max-width: 1380px;
}
.essay {
  display: inline-block;
  width: 620px;
  margin: 0 0 12px 0;
  padding-top: 38px;
}
.publish-info {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #B2BFC9;
  margin: 0;
}
.publish-info a {
  display: inline-block;
  font-size: 12.5px;
  color: #2F7CBA;
  text-decoration: none;
  margin: 10px 2px 20px 2px;
}
.author {
  display: inline-block;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin: 3px 3px 5px 7px;
  vertical-align: middle;
}
.publish-info span {
  padding-left: 10px;
}
.publish-date {
  display: inline-block;
  margin: 0;
  text-decoration: underline;
}
h2 {
  color: #083452;
  margin-top: 6px;
  margin-left: 4px;
  margin-bottom: 0px;
  margin-right: 0px;
  font-size: 64px;
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: -.005em;
}
.essay h2:first-line {
  letter-spacing: -.013em;
}
.main-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1.625em;
  color: #717B80;
  padding-left: 2px;
  padding-bottom: 8px;
  letter-spacing: -.05em;
}
.main-text-link {
  color: #0C6AB1;
}
.quotation {
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  letter-spacing: -.026em;
  color: #0C6AB1;
  line-height: 2;
  padding-left: 18px;
  border-left: 2px solid #B2BFC9;
  margin-left: 10px;
  margin-bottom: 25px;
}
.essay .final-p {
  padding-bottom: 6px;
  margin-bottom: 0px;
}
.social-buttons {
  display: block;
  width: 100%;
  padding-left: 6px;
}
ul button {
  display: inline-block;

  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 400;
  color: white;

  border: 0;
  box-shadow: 0;
  padding: 0;
  background: #A3B3BF;
  margin-right: 7px;
  margin-top: 0px;
}
ul label {
  display: inline-block;
  padding: 0px 12px 6px 12px;
}
ul .button-art {
  font-size: 18px;
  display: inline-block;
  width: 33px;
  background: #5E686F;
  padding: 5px 7px 7px 7px;
}
.sidebar {
  display: block;
  width: 360px;
  float: right;
  padding-left: 80px;
}
.sidebar a {
  text-decoration: none;
  color: #0C6AB1;
}
.sidebar .author{
  display: block;
  margin: auto;
  margin-top: 62px;
  height: 84px;
  width: 84px;
  max-height: 84px;
  max-width: 84px;
}
.sidebar p {
  font-family: 'Open Sans', 'sans-serif';
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  margin-top: 12px;
  margin-left: 2px;
  margin-bottom: 0px;
}
.author-social {
  margin: 0 auto;
}
.author-social a {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 13px;
  color: #B2BFC9;
  vertical-align: top;
  margin: 0 auto;
  padding: 0 6px 0 6px;
}
.advertisement {
  display: block;
  width: auto;
  margin-top: 44px;
}
.advertisement img {

  margin-bottom: 0px;
  height: 300px;
  width: 100%;
  opacity: .5;

}
.advertisement p {
  font-size: 13px;
  text-decoration: underline;
  color: #B2BFC9;
  margin: 3px 1px 0px 3px;
  display: inline-block;
  float: right;
}
h6 {
  padding-left: 1px;
  padding-top: 24px;
  margin-bottom: 0;
  font-size: 18px;
  color: #0C6AB1;
}
.sidebar .sidebar-p {
  margin: 4px 2px 0px 2px;
  text-align: left;
  font-size: 13.5px;
  line-height: 1.8em;
  color: #B2BFC9;
}
.sidebar .sidebar-p a {
  text-decoration: underline;
  color: #B2BFC9;
}
/*FOOTER WORK */

footer {
  display: block;
  border-top: 1px solid #B2BFC9;
  margin: 40px auto 0px auto;
  max-width: 1380px;
}
footer h2 {
  margin-top: 34px;
  margin-bottom: 40px;
  text-align: center;
}
.article-links {
  display: block;
}
.next-article {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  color: #0b1f2d;

  width: 25%;
  height: 25.5vw;
  max-width: 400px;

  float: left;
}
.next-article p {
  display: inline-block;
  position: absolute;
  font-size: 30px;

  width: 78%;
  margin: 0px 0px 13px 16px;
  bottom: 0px;
  line-height: 1.2em;
}
.art1 {
  background-image: url("https://i.imgur.com/hbZKDXt.png?1");
  background-color: SteelBlue;
  background-blend-mode: multiply;

}
.art2 {
  background: url("https://pbs.twimg.com/profile_images/378800000741429410/bfbee8629dea568a18943ac3f4cb8ede_400x400.jpeg");
  background-color: SteelBlue;
  background-blend-mode: multiply;
}
.art3 {
  background: url("http://65.media.tumblr.com/103e40148f5b1cc1b23fe61077489d18/tumblr_inline_nsom1sO2Mf1qa87yl_500.jpg");
  background-color: SteelBlue;
  background-blend-mode: multiply;
}
.art4 {
  background: url("https://caltventertainment.files.wordpress.com/2014/04/tumblr_kx7028huko1qafdxeo1_500.gif");
  background-color: SteelBlue;
  background-blend-mode: multiply;
}
.foot-nav {
  display: block;
  margin: 0;
  width: 100%;
  padding-bottom: 5px;
  background: #083452;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 13.3px;
  color: #889DAC;
}
.copyright {
  display: inline-block;
  margin-left: 150px;
  margin-top: 14px;
}
.copyright img {
  width: 70px;
  vertical-align: middle;
}
.foot-nav ol {
  display: inline-block;
  float: right;
  margin-right: 12%;
  margin-top: 37px;
}
.foot-nav a {
  text-align: center;
  text-decoration: none;
  color: #889DAC;
  border-right: 1px solid gray;
  padding: 0px 6px 0px 6px;
}
.foot-nav .final-nav
{
  border-right: 0px;
}

/* Pseudo-classes */

footer .article-links .next-article:hover {
  background-color: white;
  background-blend-mode: none;
  color: white;
  transition: .3s;

}
.social-buttons button:hover {
  background-color: #0C6AB1;
  transition: .3s;
}
.social-buttons button:hover i {
  background-color: #083452;
  transition: .3s;
}
#search:focus {
  transition: .5s;
  background-color: white;
  width: 140px;
  opacity: .8;
  outline: none;
}
.author-social a:hover {
  transition: .3s;
  color: #0C6AB1;
}
a:visited {
  color: #B2BFC9;
}

/* REFLEXIVE YIKES */

@media (max-width: 1020px) {
  header {
    height: 300px;
    content: '';
    clear: both;
  }
  h1 {
    margin: 0px;
    font-size: 40px;
    padding-top: 125px;
  }
  .logo {
    display: block;
    position: absolute;
    margin: 70px auto 0 auto;
    width: 100%;
  }
  .logo img {
    display: block;
    float: right;
    width: 20%;
    margin: 0 40%;
  }
  .logo p {
    position: absolute;
    font-size: 0px;
  }
  .infobar {

  }
  main {
    width: 80%;
    margin: auto;
  }
  .essay {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .essay p {
    width: 100%;
  }
  .publish-info {
    height: 0px;
  }
  .essay .author {
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .publish-info a {
    font-size: 0;
    margin: 0;
  }
  .publish-info span {
    font-size: 0;
  }
  button {
    width: 33px;
    height: 30px;
    overflow: hidden;
  }
  button label {
    font-size: 0;
    width: 0;
  }
  .quotation {
    line-height: 1.2em;
  }
  .sidebar {
    display: block;
    width: 100%;
    padding: 0;
  }
  .sidebar .author-social {
    display: block;
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .advertisement {
    max-width: 400px;
    margin: 0 auto;
  }
  h6 {
    font-size: 0;
  }
  .sidebar .sidebar-p {
    font-size: 0;
  }
  .sidebar-p a {
    font-size: 0;
  }
  footer h2 {
    font-size: 40px;
  }
  footer {
    border: none;
  }
  .copyright {
    margin: 0;
  }
  .next-article {
    margin: 0 auto;
    padding: 0;
    color: #0b1f2d;

    width: 90%;
    height: 25.5vw;
    max-width: 400px;

  }
}
